html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #840000;
}

.header_items a {
    display: block;
    padding: 13px 30px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
}

.header_items input {
    display: block;
    padding: 13px 30px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.header_items:hover {
    background-color: #5f0000;
}

.header_items:active {
    background-color: #400000;
}

header {
    flex: 0 0 auto;
}

.header_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #5f0000;
    padding: 22px 0;
}

.motto {
    background-color: rgba(0,0,0,.3);
    text-transform: uppercase;
    text-align: center;
    height: 300px;
    background-size: cover;
}

.motto:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.catalog_main {
    display: flex;
    justify-content: center;
    width: 960px;
    margin: 0 auto 40px auto;
}

.car_list_item {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 160px;
    width: 920px;
    padding: 30px 10px;
    border-bottom: 1px solid #BABABA;
}

.car_list_item img {
    float: left;
    margin: 0 10px;
    height: 140px;
    width: 220px;
}

.car_list_item .information {
    height: 145px;
    width: 550px;
    overflow: hidden;
    top: 0;
}

.car_list_item h1 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: Open Sans, Trebuchet MS, arial, sans-serif;
    text-align: left;
}

.car_list_item .order {
    position: absolute;
    right: 10px;
    bottom: 40%;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #FF9900;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.car_list_item .order:hover {
    background: #df7e00;
}

.car_list_item .order:active {
    background: #9c4700;
}

.scale {
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.authorization {
    min-height: 200px;
    width: 300px;
    margin: 45px 0;
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #BABABA;
    border-radius: 20px;
}

.authorization p {
    margin: 10px 0;
}

.authorization_main_hor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.authorization_main_ver {
    position: relative;
    display: flex;
    flex-direction: column;
}

.log_button {
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    border: 1px solid #C4C4C4;
    cursor: pointer;
}

.log_button:hover {
    background: #C4C4C4;
}

.log_button:active {
    background: #808080;
}

.form_input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #808080;
}

.contacts {
    color: black;
    padding: 20px 100px;
}

.contacts span {
    color: #FF9700;
}

.contacts p {
    margin: 4px;
}

#map {
    height: 500px;
    padding: 0 100px;
}

.catalog_input {
    height: 50px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #808080;
    outline: none;
}

.catalog_text {
    border: none;
    outline: none;
    text-align: center;
    max-width: 200px;
    font-size: 14px;
    padding: 5px;
    overflow: auto;
    word-break: break-all;
}

.catalog_text_area {
    overflow: auto;
    hyphens: auto;
    width: 300px;
}

.buy_button {
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    color: white;
    background-color: #056c02;
    border: 1px solid #C4C4C4;
    cursor: pointer;
}

.buy_button:hover {
    background-color: #28811d;
}

.buy_button:active {
    background-color: #004700;
}

.t_header {
    background-color: #840000;
    color: white;
    padding: 10px;
}

.cat_form {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn_row {
    margin: 10px;
}

.refuse_button {
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    color: white;
    background-color: #981700;
    border: 1px solid #C4C4C4;
    cursor: pointer;
}

.refuse_button:hover {
    background-color: #a81000;
}

.refuse_button:active {
    background-color: #5e0000;
}

.orders {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}

.hot_sells {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 0;
}

.hot_sells td{
    text-align: center;
    padding: 15px;
}

.hot_sells th{
    text-align: center;
    padding: 15px;
}

.hot_sells_item {
    padding: 10px;
    border: 3px solid grey;
    border-radius: 10px;

}

footer {
    flex: 0 0 auto;
    height: 67px;
    display: flex;
    justify-content: center;
    background-color: #3d3d3d;
    color: white;
}

.footer_vertical {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.footer_vertical p {
    margin: 0;
}

tr.border_bottom td{
    border-bottom:1pt solid #C4C4C4;
}

main {
    flex: 1 0 auto;
}

